---
import ProjectsIcon from '../../icons/ProjectsIcon.astro'
import type { CONTENTFUL_BACKGROUND_PAGE } from '../../types'
import clsx from '../../utils/clsx'
import OutsideLink from '../navigation/OutsideLink.astro'

interface Props {
  education: CONTENTFUL_BACKGROUND_PAGE['education']
}

const { education } = Astro.props
---

<ul class="space-y-2 pl-1 leading-relaxed md:space-y-1 md:pl-4">
  {
    education.data.map(({ title, url }, index) => (
      <li
        class={clsx('p-2', index === 0 && 'mt-2', index % 2 ? 'bg-primary-900' : 'bg-transparent')}
      >
        <ProjectsIcon className="mr-1 align-middle" />
        <OutsideLink className="md:text-lg" href={url} showIcon>
          {title}
        </OutsideLink>
      </li>
    ))
  }
</ul>
