---
import CodeIcon from '../../icons/CodeIcon.astro'
import DemoIcon from '../../icons/DemoIcon.astro'
import StatusIcon from '../../icons/StatusIcon.astro'
import clsx from '../../utils/clsx'
import OutsideLink from '../navigation/OutsideLink.astro'
import Info from './Info.astro'

interface Props {
  active: boolean
  location?: string | null
  status: string
  source: string
}

const { active, location, source, status } = Astro.props
---

<div class="mb-5 pl-1 text-md md:pl-4">
  <Info className={clsx(active ? 'text-lime-500' : 'text-gray-400')}>
    <StatusIcon className="mr-2.5 align-middle text-xl" />
    {status}
  </Info>
  {
    location && (
      <Info>
        <DemoIcon className="mr-2.5 align-middle text-xl text-amber-500" />
        <OutsideLink className="inline-block" href={location} ariaLabel="demo website" showIcon>
          Demo
        </OutsideLink>
      </Info>
    )
  }
  <Info>
    <CodeIcon className="mr-2.5 align-middle text-xl" />
    <OutsideLink className="inline-block" href={source} ariaLabel="source code" showIcon>
      Source
    </OutsideLink>
  </Info>
</div>
