<div class="orbits">
  <div class="circleContainer">
    {
      ['circleOne', 'circleTwo', 'circleThree', 'circleFour', 'circleFive'].map((circleType) => (
        <div class:list={['circle', circleType]} />
      ))
    }
  </div>
</div>
