<div class="orbits">
  <div class="circleContainer">
    {
      ['circleOne', 'circleTwo', 'circleThree', 'circleFour', 'circleFive'].map((circleType) => (
        <div class:list={['circle', circleType]} />
      ))
    }
  </div>
</div>
<style is:global>
  @keyframes solar {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }

  @media (min-width: 640px) {
    .orbits {
      display: block;
    }
  }

  .orbits {
    position: relative;
    z-index: -1;
    display: hidden;
    opacity: 0.4;
  }

  .circleContainer {
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 12.5rem;
    width: 12.5rem;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: solar 20s infinite linear;
    transform-style: preserve-3d;
  }

  .circle {
    position: absolute;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 9999px;
    transform-style: preserve-3d;
    --tw-shadow: 0 0 20px #00020c, inset 0 0 20px #2c4776;
    --tw-shadow-colored: 0 0 20px var(--tw-shadow-color), inset 0 0 20px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .circle::after,
  .circle::before {
    --tw-bg-opacity: 1;
    background-color: rgb(44 71 118 / var(--tw-bg-opacity));
    --tw-shadow: 0 0 5px 2px #2c4776;
    --tw-shadow-colored: 0 0 5px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    height: 0.1rem;
    width: 0.1rem;
  }

  .circle::after {
    transform: translateZ(90px);
  }

  .circle::before {
    transform: translateZ(-90px);
  }

  .circleOne {
    transform: rotateZ(72deg) rotateX(63.435deg);
  }

  .circleTwo {
    transform: rotateZ(144deg) rotateX(63.435deg);
  }

  .circleThree {
    transform: rotateZ(216deg) rotateX(63.435deg);
  }

  .circleFour {
    transform: rotateZ(288deg) rotateX(63.435deg);
  }

  .circleFive {
    transform: rotateZ(360deg) rotateX(63.435deg);
  }
</style>
