---
import Bars from './Bars.astro'
---

<div
  class="mb-16 w-full overflow-hidden rounded-b-sm bg-primary-1000 bg-opacity-75 font-bold text-primary-25"
>
  <div class="panel-body">
    <Bars />
    <slot />
  </div>
</div>
