---
import GoHomeIcon from '../../icons/GoHomeIcon.astro'
import type { Href, Title } from '../../types'
import Link from './Link.astro'

type Props = Href & Title

const { href, title } = Astro.props
---

<div class="flex items-center justify-center">
  <Link className="text-xl font-bold w-auto" href={href}>
    <div class="flex items-center justify-center space-x-2">
      <GoHomeIcon className="text-xl" />
      <span>Go back to {title} page</span>
    </div>
  </Link>
</div>
