---
import ExternalLinkIcon from '../../icons/ExternalLinkIcon.astro'
import type { AriaLabel, Href, OptionalClassName } from '../../types'
import clsx from '../../utils/clsx'

type Props = AriaLabel &
  Href &
  OptionalClassName & {
    showIcon?: boolean
  }

const { ariaLabel, className, href, showIcon } = Astro.props
---

<a
  aria-label={ariaLabel}
  class={clsx(
    'focus:color-white cursor-pointer rounded border-2 border-solid border-transparent text-light-blue underline transition-[box-shadow] duration-300 ease-in-out hover:text-white focus:border-primary-100 focus:shadow-ring',
    className
  )}
  href={href}
  rel="noopener noreferrer"
  target="_blank"
>
  <slot />
</a>
{showIcon && <ExternalLinkIcon className="hidden align-top text-base md:inline-block" />}
