<header class="overflow-hidden">
  <a
    id="skip-to-content"
    aria-label="Skip to main content"
    class="absolute left-[-9999px] top-4 z-50 rounded bg-primary-50 p-2 text-center text-white no-underline shadow-ring focus:left-5"
    href="#main"
  >
    Skip to content
  </a>
</header>
